:root{
    --bg:hsl(0, 0%, 100%);
    --overpass: 'overpass' sans-serif;
    --ubuntu: 'ubuntu' sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: var(--bg);
    height: 100vh;
    overflow-x: hidden;
}
.main{
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
h1{
    font-family: var(--overpass);
    font-weight: 400;
    margin: 20px auto;
    padding: 2rem 0 0 0;
}
.header{
    color: var(--bg);
    background-image: url(images/bg-pattern-intro-desktop.svg);
    background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-size: cover;
    padding: 2rem 5rem;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.nav ul li{
    list-style: none;
}
.nav-items{
    display: flex;
}
.brand{
    font-size: 2rem;
}
.laptop-content{
    margin: 0 auto;
    padding: 20px;
}
.flex{
    display: flex;
}
.flex img{
    width: 500px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2 ifr);
    margin: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 50px;
    width: 100%;
}
.mobile-content{
    background: linear-gradient( 50deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%) );
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 5rem auto;
    padding: 10rem;
    height: 15rem;
}
.mobile-content img{
    width: 500px;
}

.last-content{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.last-content img{
    width: 500px;
}
.footer{
    background-color: hsl(237, 23%, 32%);
    padding: 5rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.footer-links{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }