:root{
    --bg:hsl(0, 0%, 100%);
    --overpass: 'overpass', sans-serif;
    --ubuntu: 'ubuntu', sans-serif;
    --btn-hover: hsl(355, 100%, 74%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: var(--bg);
    height: 100vh;
    overflow-x: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.main{
    margin: 0 auto;
    width: 100%;
    
}
h1{
    font-family: var(--ubuntu);
    font-size: 3rem;
    font-weight: 400;
    margin: 20px auto;
    padding: 2rem 0 0 0;
}
.header{
    color: var(--bg);
    background-image: url(images/bg-pattern-intro-desktop.svg);
    background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-size: cover;
    padding: 2rem 5rem;
    min-height: 400px;
    width: 100%;
    border-bottom-left-radius: 5rem;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}
.blogr{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbtn{
    font-size: 17px;
    font-family: var(--overpass);
    cursor: pointer;
}
.brand{
    font-size: 2rem;
    font-weight: 700;
    margin: 0 30px 0 0;
    font-family: var(--overpass);
    color: var(--bg);
}
.nav ul li{
    list-style: none;
    margin: 0 20px;
}
.nav-items{
    display: flex;
}
.header p{
    font-family: var(--overpass);
    font-size: 17px;
    font-weight: lighter;
    margin: 10px auto;
}
.st-btn{
    font-family: var(--overpass);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}
.start-btn{
    padding: 10px;
    align-self: center;
}
.start-btn:hover{
    background-color: var(--btn-hover);
    border-radius: 20px;
    cursor: pointer;
}
.learn-btn{
    padding: 10px;
    align-self: center;
}
.learn-btn:hover{
    background-color: var(--bg);
    color: hsl(356, 100%, 66%);
    border-radius: 20px;
    cursor: pointer;
}

.hidden{
    display: none;
}
.laptop-content{
    margin: 20px auto;
    padding: 20px 50px;
    width: 100%;
}

.laptop-content h2{
    margin: 0 auto;
    padding: 2.5rem 0 0 0;
}
.laptop-content p{
    width: 100%;
}
.flex{
    display: flex;
}
.flex img{
    width: 40%;
    height: 50%;
    margin: ;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2 ifr);
    margin: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 50px;
    width: 50%;
}
.mobile-content{
    background: linear-gradient( 50deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%) );
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 5rem auto;
    padding: 10rem;
    height: 15rem;
}
.mobile-content img{
    width: 500px;
}

.last-content{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.last-content img{
    width: 500px;
}
.footer{
    background-color: hsl(237, 23%, 32%);
    padding: 5rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.footer-links{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }